.logo {

	> svg {
		width: 100%;
		height: 100%;
	}
}

.logo--page {
	position: fixed;
	top: $half-spacing-unit / 2;
	left: $half-spacing-unit / 2;
	width: $base-spacing-unit * 1.5;
	height: $base-spacing-unit * 1.5;
	z-index: 30000;
	@include layer;
	@include media-query(palm) {
		bottom: $half-spacing-unit;
		left: $half-spacing-unit;
		top: auto;

	}
}
