$line-height: 3px;

.nav__wrapper {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	justify-content: flex-start;
	pointer-events: none;
	z-index: 100;
}
.nav {
	flex-direction: row;
	justify-content: center;
	background-color: $sidebar-color;
	z-index: 5;
	width: 100%;
	padding: $half-spacing-unit 0;
	transform: translateY(-100%);
	opacity: 0;
	transition: all $transition-easing $transition-speed;
	pointer-events: all;
	@include layer;
	.nav__toggle:checked ~ & {
		opacity: 1;
		transform: translateY(0);
	}
}

.nav__link,
.nav__link a,
.nav__toggle-label {
	// font-family: $small-font;
	font-weight: $fat;
	pointer-events: all;
	color: $link-color;
}
.nav__link {
	display: inline-block;
	padding: $half-spacing-unit $base-spacing-unit;
	transition: color $transition-easing $transition-speed;
	// @include font-size($deci-size);
	&:hover {
		color: $link-color;
	}
	@include media-query(palm) {
		text-align: center;
		width: 100%;
	}
}
.nav__toggle {
	display: none;
}
.nav__toggle-label {
	// display: block;
	width: $base-spacing-unit * 2;
	height: $base-spacing-unit * 2;
	border-radius: 50%;
	text-align: center;

	padding: $half-spacing-unit 0;
	position: absolute;
	top: $half-spacing-unit;
	right: $half-spacing-unit;
	z-index: 100;
	background-color: $sidebar-color;
	&:before {
		top: $base-spacing-unit - $line-height * 2;
	}
	&:after {
		top: $base-spacing-unit + $line-height * 2;
	}
	&:before,
	&:after {
		content: '';
		width: $base-spacing-unit;
		height: $line-height;
		background-color: $link-color;
		border-radius: $line-height;
		position: absolute;
		left: calc(50% - #{$half-spacing-unit});
		transform-origin: 50% 50%;
		transition: transform $transition-speed $transition-easing 0s,
				top $transition-speed $transition-easing $transition-speed ;
		.nav__toggle:checked ~ & {
			transition: transform $transition-speed $transition-easing $transition-speed,
				top $transition-speed $transition-easing 0s ;

		}
	}
		.nav__toggle:checked ~ &:after {
			transform: rotate(-45deg);
			top: $base-spacing-unit;
		}
		.nav__toggle:checked ~ &:before {
			transform: rotate(45deg);
			top: $base-spacing-unit;
		}
}
